header>img
{
    width: 100%;
}


body
{
    background-color: rgb(80, 79, 79);
}

table, tr, th, td
{

    /*font-family: 'Zilla Slab Highlight', cursive;*/
    border: 2px solid black;
    padding: 5px;

}
td{
    text-align: center;
}


ul
{
    font-family: sans-serif;
}