header>img
{
    width: 100%;
}


body
{
    flex: auto;
    color: green;
    font-family: Georgia;
    text-align: center;
    background-color: palegoldenrod;
}

#shops
{
    color: rgb(9, 12, 9);
    background-color: brown;

    font-family: Arial;
}

table, tr, th, td
{

    /*font-family: 'Zilla Slab Highlight', cursive;*/
    border: 2px solid black;
    padding: 5px;

}
td{
    text-align: center;
}


ul
{
    color: aliceblue;
    font-family: sans-serif;
}


#title
{
    font-family: 'Zilla Slab Highlight';
}


